
$home-page-font:'Roboto', sans-serif;
$base-color:burlywood;
$light-base:#E5C69F;
$nav-base-color:rgb(60,60,60);
*{
    font-family: $home-page-font;
}
h2{
    margin-bottom: 1.5rem;
}
.navbar{
    position: fixed;
    width: 100%;
    height: 5rem;
    background-color: $nav-base-color;
    color: $base-color;
}
.nav-link{
    color: $base-color;
}
nav img{
    width: 70px;
    height: 70px;          
}
.home{
    padding-top: 10rem;
    padding-bottom: 6rem;
    background-image: url("img/bg1.jpeg");

    h1{
        text-align: center;
        color: $base-color;
    }
}
.container__AboutMe{
    padding: 4rem;
    background-color: $base-color;
    color: $nav-base-color;
    h2{
    
        font-style: bold;
        text-align: center;
    }

    &__content{
        display: flex;

        h3{
            margin-left: 2rem;
        }
        h5{
            font-style: italic;
        }
        img{
            margin: 1rem;
            width: 350px;
            height: 350px;
            border-radius: 2rem;
            border-color: cornsilk;
            box-shadow:coral 5px 10px 15px;
        }
        ul{
            list-style-type: circle;

        }
        &__text{
            padding-left: 3rem;
            line-height: 1.5rem;
        }
    }

}
.Portfolio{

    padding:3rem;
    background-color: $light-base;
    color: $nav-base-color;
    h2{
        text-align: center;
    }
    &__cards {  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

   }
} 
.cards{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.Works{
    background-color: $light-base;
    color: $nav-base-color;
    padding: 3rem;
    h2{
        text-align: center;
    }

    :hover{
        opacity: 80%;
    }

}
 

.Contact{
    background-color: $base-color;
    padding: 3rem;
    color: $nav-base-color;
    h2{
        text-align: center;
    }
    &__content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
.Contact__content img{
    width: 70px;
    height: 70px;
    margin: 2em;
    &:hover{
        width:80px ;
        height: 80px;
    }
}
.Contact-hidden{
    display: none;
    justify-content: center;
}
.Contact-hidden img{
    width: 250px;
    height: 300px;
}
footer{
    background-color: $nav-base-color;
    text-align: center;
    color: $base-color;
    padding: 2rem;
}